:root {
    --color-yesbank: #1e518d;
    --color-yesbankBlue: #0062a8;
    --color-yesbankGray: #9b9b9b;
    --color-calendar-heading: #005fa9;
    --color-yesbankOrange: #f08a00;
    --color-openStatus: #ffca1d;
    --color-calendar-color: #333333;
    --color-calendar-disabled-day: #999999;
    --color-search-criteria-active: #4a90e2;
    --color-fade-blue: #1496bb;
    --color-sky-blue: #6aaefc;
    --color-sky-blue-dark: #0062a8;
    --color-mapping-header: rgba(205, 229, 246, 0.3);
    --color-mapping-header-border: rgba(155, 155, 155, 0.3);
    --color-lightBlue: rgba(0, 98, 168, 0.3);
    --color-grayTable: rgba(222, 228, 232, 0.5);
    --color-mdmID-border: rgba(74, 144, 226, 0.5);
    --color-black-backdrop: rgba(0, 0, 0, 0.75);
    --color-background: rgba(246, 247, 249, 1);
    --color-yesbankLightGray: #f6f7f9;
    --color-yesbankBackdrop: rgba(0, 0, 0, 0.5);
    --color-headerGray: #777777;
    --color-success-popup: #67b104;
    --color-border-green: #7ed321;
    --color-green: #65d738;
    --color-border-red: #db0000;
    --color-border-yellow: #fad900;
    --color-border-grey: #9a9a9a;
    --color-sum-container: #78909c;
    --color-deposit: #50b6ad;
    --color-investment: #e75f35;
    --color-loan: #936d60;
    --color-other: #4fc3f7;
    --color-card: #8bc34a;
    --color-text-grey: #a5a5a5;
    --color-text-black: #494949;
    --color-button-orange: #ff971d;
    --color-button-red: #fd6d64;
    --color-button-green: #66d73a;
    --color-button-blue: #6baefc;
    --color-heading-text-blue: #007fb9;
    --color-sub-heading-text-grey: #535353;
    --color-toggle-switch-blue: #2196f3;
    --color-brown: #df8f55;
    --color-dark-gray: rgba(64, 64, 64, 1);
    --color-light-silver: rgba(155, 155, 155, 1);
    --color-light-grey: rgba(0, 83, 142, 0.3);
    --color-light-blue: rgba(0, 98, 168, 0.5);
    --color-box-shadow: rgba(246, 173, 2, 0.3);
    --color-add-item: #f6f6f6;
    --color-yesBankYellow: rgba(240, 138, 0, 1);
    --color-border-navigation: rgba(214, 184, 138, 0.5);
    --grad-yesBankBlue: linear-gradient(-135deg, #0062a8 0%, #004b81 100%);
    --color-dull-white: #dff2ff;
    --grad-yesBankBlue: linear-gradient(-135deg, #0062a8 0%, #004b81 100%);
    --grad-yesBankGreen: linear-gradient(180deg, #b4ec51 0%, #429321 100%);
    --grad-yesBankRed: linear-gradient(180deg, #f5515f 0%, #9f041b 100%);
    --font-yesbank: “Gill Sans”;
    --color-white: rgba(255, 255, 255, 1);
    --color-orange: #ef8d09;
    --color-black: rgba(51, 51, 51, 1);
    --color-off-white: #d6d6d6;
    --color-authorised-sign: #eb407a;
    --color-black-transparent: rgba(51, 51, 51, 0.1);
    --color-black-light: rgba(153, 153, 153, 1);
    --color-overlay-none: color(var(--color-white) alpha(0%));
    --color-overlay-white: color(var(--color-white) alpha(80%));
    --color-overlay-white-light: color(var(--color-white) alpha(70%));
    --color-grey-light: rgba(0, 0, 0, 0.3);
    --color-blue-light: rgba(0, 95, 169, 0.5);
    --color-faded-blue: rgba(74, 144, 226, 0.5);
    --color-grey-table: #494949;
    --color-grey-error: #f1f3f4;
    --color-shadow-grey: rgba(219, 219, 219, 0.3);
    --color-button-color: #575757;
    --color-light-gray: rgba(255, 255, 255, 0.5);
    --color-disabled-gray: rgba(204, 204, 204, 1);
    --color-disabled-text: rgba(102, 102, 102, 1);
    --color-grey-rm: rgba(155, 155, 155, 0.6);
    --color-grey-table-border: #ccc;
    --color-grey-table-header: #9b9b9b;
    --color-disabled-input: #e7e7e7;
    --color-white-table: rgba(223, 242, 255, 0.3);
    --color-disabled-checkbox-background: rgba(0, 0, 0, 0.84);
    --color-grey-row-header: #ddd;
    --color-blue-row-hover-background: rgba(0, 95, 169, 1);
    --color-loader: rgba(0, 98, 168, 1);
    --color-white-row-hover: #ffffff;
    --color-white-background: rgba(246, 246, 246, 1);
    --color-white-background-faded: rgba(246, 246, 246, 0.7);
    --color-accodian-section-border: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    --color-blue-border: #5c6bbf;
    --color-cancel-btn: rgba(130, 132, 136, 0.5);
    --color-search-body: #f7f7f7;
    --color-calendar-day: #666666;
    --color-authorised-sign-border: #7e58c2;
    --color-authorised-sign-border-box-shadow: rgba(126, 88, 194, 0.5);
    --color-tooltip: #e1e1e1;
    --color-tooltip-background: rgba(0, 0, 0, 0.3);
    --portfolio-header-container: rgba(204, 154, 247, 0.3);
    --color-grey-row-disabled: #e2e2e2;
    --color-black-row-disabled-hover: #000000;
    --color-black-table-data: #404040;
    --color-toast-text: rgba(103, 177, 4, 0.5);
    --color-grey-rm: rgba(155, 155, 155, 0.6);
    --color-search-parameter-active: rgba(0, 95, 169, 0.5);
    --color-blue-label: #106bad;
    --color-success-green: #67b104;
    --color-success-text: #72b31c;
    --color-success-green-dark-shade: #008000;
    --color-table-header-border-color: rgba(223, 223, 223, 0.3);
    --color-table-data-border-color: rgba(155, 155, 155, 0.3);
    --color-light-gray-border-bottom: rgba(222, 228, 232, 0.5);
    --color-black-icon: rgba(0, 0, 0, 0);
    --color-nba-box-shadow: rgba(0, 98, 168, 0.3);
    --color-red-no-result: #d70018;
    --color-red: #d0021b;
    --color-red-error: #d71920;
    --color-grey: #979797;
    --color-msg-light-grey: #7f7f7f;
    --color-radioText: #686868;
    --color-selctedActionCode: #eff7fc;
    --color-dropDownHover: #e3e9fa;
    --color-dropdown-border: #cdcdcd;
    --color-border-table-row-left: #ef900f;
    --color-action-menu-blue: #005fb5;
    --color-selected-menu-blue: #0060aa;
    --linear-color-light-gray: linear-gradient(180deg, #fafafa 0%, #f0f0f0 100%);
    --linear-color-wow: linear-gradient(180deg, #a5399d 0%, #99258d 100%);
    --linear-color-wow-dark: linear-gradient(180deg, #971c88 0%, #791267 100%);
    --linear-color-wow-darker: linear-gradient(180deg, #5e1155 0%, #400838 100%);
    --linear-color-yellow: linear-gradient(180deg, #eccc12 0%, #efc030 100%);
    --linear-color-black: linear-gradient(180deg, #494848 0%, #333333 100%);
    --linear-color-orange: linear-gradient(180deg, #ffb404 0%, #f07200 100%);
    --linear-color-blue: linear-gradient(180deg, #0481da 0%, #0062a8 100%);
    --linear-color-orange-disabled: linear-gradient(
      180deg,
      #ffb404 0%,
      rgb(240, 114, 0, 0.5) 100%
    );
    --linear-color-active-button: linear-gradient(
      180deg,
      #ffc904 0%,
      #f08a00 100%
    );
    --linear-color-red: linear-gradient(180deg, #f5515f 0%, #9f041b 100%);
    --font-family: "Gill Sans";
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-heavy: 900;
    --font-size-tiny: 10px;
    --font-size-smaller: 11px;
    --font-size-small: 12px;
    --font-size-smallish: 13px;
    --font-size: 14px;
    --font-size-smedium: 15px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-largish: 20px;
    --font-size-larger: 22px;
    --font-size-huge: 24px;
    --font-size-truly-huge: 30px;
    --font-size-really-huge: 36px;
    --font-size-gigantish: 48px;
    --font-size-gigantic: 50px;
    --transition-time-200: 200ms;
    --transition-time-300: 300ms;
    --transition-time-400: 400ms;
    --transition-time-500: 500ms;
    --wrapper-border: 1px solid rgba(222, 228, 232, 0.5);
    --wrapper-box-shadow-blue: 0 1px 2px 0 rgba(0, 98, 168, 0.3);
    --box-shadow-resend: 0 4px 4px 0 rgba(0, 98, 168, 0.3);
    --box-shadow-red: 0 1px 2px 0 rgba(215, 25, 32, 0.2);
    --box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    --box-shadow-lift: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    --wrapper-box-shadow: 0 1px 2px 0 rgba(219, 219, 219, 0.3);
    --tooltip-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    --tag-location-button-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    --tooltip-border-color: #d8d8d8;
    --border-demog: 1px solid #e0e0e0;
    --autocomplete-box-shadow: 2px 2px 10px -2px rgba(56, 50, 56, 1);
    --button-box-shadow: 0 4px 4px 0 rgba(246, 173, 2, 0.3);
    --add-file-button-box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
    --button-text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    --button-red-box-shadow: 0 4px 4px rgba(202, 43, 61, 0.3);
    --border-radius: 2px;
    --z-index-1: 100;
    --z-index-2: 200;
    --z-index-3: 300;
    --z-index-4: 400;
    --z-index-5: 500;
    --z-index-6: 600;
    --z-index-7: 700;
    --z-index-8: 800;
    --z-index-9: 900;
    --z-index-toast: 1000;
    --text-shadow: rgba(0, 0, 0, 0.7) 3px 3px 0;
    --text-shadow-gray: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    --max-width: 1140px;
    --service-component-height: 466px;
    --service-component-max-width: 559px;
    --icon-size: 24px;
    --huge-icon-size: 70px;
    --seat-margins: 6px;
    --slide-in-margin-top: 75px;
    --line-height-extra: 1.42857143;
    --basicInfoBtn-border-color: #2096f3;
    --astrik-color: #e53115;
    --placeholder-color: #9b9ca1;
    --orange-bar-color: #f9aa41;
    --blue-border: #1472b3;
    --green-text-color: #65b300;
    --black-popup-background: rgba(0, 0, 0, 0.5);
    --delayed-text-color: #f20600;
    --quote-heading-color: #323846;
    --grey-heading-color: #afafaf;
    --quote-container-bg: #dfdfdf;
    --light-heading-color: #939499;
    --slider-tooltip-shadow-color: #d9d9d9;
    --slider-tooltip-border-top-color: #6c6c6c;
    --green-shadow-color: rgba(103, 177, 4, 0.4);
    --refnumber-error: #ea0006;
    --ccbox-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    --gray: rgba(128, 128, 128);
  }
  
  @custom-media --full-width (max-width: 1140px);
  @custom-media --wide (max-width: 1070px);
  @custom-media --narrow (max-width: 900px);
  @custom-media --tablet (max-width: 700px);
  @custom-media --tablet-narrow (max-width: 580px);
  @custom-media --mobile-wide (max-width: 570px);
  @custom-media --mobile (max-width: 480px);
  @custom-media --mobile-small (max-width: 320px);
  @custom-media --small-landscape (max-height: 320px);
  @custom-media --narrow-height (max-height: 650px);
  @custom-media --mobile-height (max-height: 568px);
  